.formEle{
    /* background-color: rebeccapur/ple; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    row-gap: 10px;
    /* gap: ; */
}
.add{
    background-color: rgb(91, 91, 205);
    color: white;
    padding: 4px;
    border-radius: 4px;
    border:none;

}
input{
    height: 25px;
}
button:hover{
    transform: scale(1.1);
}